/* Fonts
------------------------------------------------------------------------------*/
  @font-face {
       font-family: 'Roboto';
       src: url(../fonts/Roboto-Regular.ttf);
  }

  @font-face {
       font-family: 'Roboto-Thin';
       src: url(../fonts/Roboto-Thin.ttf);
  }

  @font-face {
       font-family: 'Roboto-Light';
       src: url(../fonts/Roboto-Light.ttf);
  }

/* Common
------------------------------------------------------------------------------*/
  * {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  img { display: block; }

  .full-width {
    position: relative;
    width: 100%;
  }

  .section-content {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: auto;
    max-width: 1024px;
    position: relative;
    width: 100%;
  }

  .btn {
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 18px;
    outline: none;
    padding: 5px 10px;
  }
  
  a { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:active { text-decoration: none; }
  
  .em { font-weight: bold; }

/* Hero
------------------------------------------------------------------------------*/
  .hero-wrapper {
    background-image: url(../img/downtown-raleigh.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 400px;
    opacity: 0;
    position: relative;
    transition: all 0.1s linear;
    width: 100%;
  }

  .landing.hero {
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .hero-logo {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
  }
  
  .hero-logo h2 {
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 40px 0;
    text-align: center;
    text-shadow: 0px 1px 10px rgba(0,0,0,1)
  }

  .hero-logo img {
    margin: auto;
    max-width: 400px;
    padding: 0 20px;
    width: 100%;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  .fade-in-up {
    animation-name: fadeInUp;
  }

  .animated {
    animation-duration: 1.0s;
    animation-fill-mode: both;
  }

/* Header
------------------------------------------------------------------------------*/
  header {
    border-top: 2px solid #ee4938;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    height: 60px;
    left: 0;
    line-height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  header nav {
    height: 100%;
    margin: auto;
    max-width: 1024px;
    width: 100%;
  }
  
  .landing-link {
    padding: 5px;
    width: 60px;
  }
  
  .landing-link img {
    width: 100%;
  }
  
  .pages {
    border-radius: 4px;
    display: block;
    height: 0;
    max-width: 200px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50px;
    transition: all linear 0.1s;
    width: 100%;
  }
  
  .pages:before {
      border: solid transparent;
      border-bottom-color: rgba(0,0,0,0.9);
      border-width: 8px;
      color: #fff;
      content: "";
      display: block;
      max-height: 0;
      opacity: 0;
      position: absolute;
      right: 10px;
      top: -16px;
      white-space: pre;
      width: 0;
      word-wrap: break-word;
      z-index: 1001;
  }
  
  .active.pages {
    max-height: 600px;
    opacity: 1.0;
    top: 60px;
  }
  
  .active.pages:before {
    opacity: 1.0;
  }
  
  header .page-link {
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-align: center;
    width: 100%;
  }
  
  header .page-link:hover { background: rgba(0,0,0, 0.8); }
  
  header .page-link:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  header .page-link:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .landing-header .page-link,
  .contact-header .page-link,
  .about-header .page-link {
    background: rgba(0, 0, 0, 0.9);
  }
  
  header .page-link:last-child {
    border-bottom: none;
  }
  
  .contact-header .pages:before,
  .about-header .pages:before {
    border-bottom-color: rgba(0,0,0,0.95);
  }
  
  .page-link a {
    /*color: #333;*/
    font-family: 'Roboto-Light';
    font-size: 24px;
    padding: 20px;
    transition: color 0.2s linear;
  }
  
  .page-link:first-child { padding-left: 0; }
  .page-link:last-child { padding-right: 0; }
  .page-link a:hover { color: #ee4938; text-decoration: none; }
  
  .hamburger-btn {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    z-index: 3;
  }
  
  .hamburger-btn > .octicon {
    font-size: 30px;
    line-height: 30px;
  }
  
  .landing-header .hamburger-btn > .octicon {
    color: #fff;
  }
  
  .contact-header .hamburger-btn > .octicon,
  .about-header .hamburger-btn > .octicon {
    color: #333;
  }
  
  .contact-header {
    background: rgba(255, 255, 255, 0.90);
    border-bottom: 1px solid #ccc;
  }
  
  /* >= Medium Screen */
  @media (min-width: 768px) {
    .landing-link {
      float: left;
    }
    
    header .pages {
      float: right;
      max-height: 500px;
      opacity: 1.0;
      right: 0;
      top: 0;
      transition: none;
      width: auto;
      max-width: none;
      position: relative;
    }
    
    .pages:before { display: none; }
  
    .pages ul:after {
      content:"";
      display:table;
      clear:both;
    }
    
    header.contact-header .page-link,
    header.about-header .page-link,
    header.landing-header .page-link,
    .page-link {
      background: none;
      border: none;
      display: inline;
    }
    
    header .page-link:hover { background: none; }
    
    header .page-link {
      color: #333;
    }
    
    .landing-header .page-link a {
      color: #fff;
      font-family: 'Roboto-Light';
      font-size: 24px;
      padding: 0 20px;
      transition: color 0.2s linear;
    }
    
    .landing-header .page-link a:visited { color: #fff; }
    .page-link a:hover { color: #ee4938; }
    
    .hamburger-btn { display: none; }
  }

  a {
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }
  a:active  { color: inherit; outline: none; text-decoration: none; }
  a:visited { color: inherit; outline: none; text-decoration: none; }
  a:focus   { outline: none; }
  a:hover   { outline: none; text-decoration: none; }

/* Local Nav Header
------------------------------------------------------------------------------*/
  .sticky-header {
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ddd;
    display: none;
    height: 81px;
  }
  
  .sticky-header .landing-link {
    padding-top: 15px; 
  }

  .sticky-header .page-link a { color: #606162; }
  .sticky-header .page-link a:visited { color: #606162; text-decoration: none; }
  .sticky-header .page-link a:hover { color: #ee4938; }

  .sticky-header nav {
    height: 100%;
    margin: auto;
    max-width: 1024px;
    width: 100%;
  }

  .sticky-header .page-link a {
    font-size: 18px;
    line-height: 80px;
   }
   
   /* >= Medium Screen */
  @media (min-width: 768px) {
    .sticky-header {
      display: block;
    }
  }

/* Intro Section
------------------------------------------------------------------------------*/
  .intro-wrapper {
    border-bottom: 1px solid #ddd;
    height: auto;
  }

  .intro-summary-txt-wrapper {
    display: table;
    height: 100%;
    position: relative;
  }
  .intro-summary-txt {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  .intro-summary-txt h3 {
    color: #333;
    font-size: 26px;
    margin-top: 40px;
    padding: 0 20px;
    text-align: center;
  }

  .intro-summary-txt p {
    color: #606162;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
  }

  .intro-summary-img {
    height: 275px;
    overflow: hidden;
  }


  .intro-summary-img .vertical-img {
    display: none;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }

  .intro-summary-img .horizontal-img {
    bottom: -40px;
    display: block;
    height: 275px; 
    left: -30px;
    position: relative;
  }

  /* >= Medium Screen */
  @media (min-width: 768px) {
    .intro-wrapper { height: 350px; }

    .intro-summary-txt h3 {
      margin-top: 0px;
      padding-right: 10px;
      text-align: left;
    }

    .intro-summary-txt p {
      padding-right: 10px;
      text-align: left;
    }
    
    .intro-summary-img {
      height: 350px;
      padding-left: 10px;
      text-align: left;
    }

    .intro-summary-img .horizontal-img { display: none; }
    .intro-summary-img .vertical-img { display: block; }
  }

/*  Quote Section
------------------------------------------------------------------------------*/
  .quote-wrapper {
    background: #f5f8fa;
    border-bottom: 1px solid #ddd;
    min-height: 350px;
  }

  .quote-section-content {
    display: table;
    height: 100%;
    min-height: 350px;
  }

  .quote-section-content-inner {
    display: table-cell;
    height: 100%;
    min-height: 350px;
    vertical-align: middle;
    width: 100%;
  }

  .quote-wrapper blockquote {
    color: #333;
    font-size: 28px;
    margin: 24px 0;
    padding: 0 20px;
  }

  .quote-wrapper .octicon-quote {
    color: #ee4938;
  }

  .end-quote {
    -webkit-transform: scale(-1, -1);
       -moz-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);
  }

  .quote-attribute {
    margin: 0 40px;
  }

  .quote-attribute:after {
    content:"";
    display:table;
    clear:both;
  }

  .quote-attribute-img {
    border: 4px solid #ccc;
    border-radius: 50%;
    float: left;
    height: 60px;
    overflow: hidden;
    width: 60px;
  }

  .quote-attribute-img img  {
    width: 60px;
  }

  .quote-attribute-text {
    float: left;
    padding-left: 20px;
  }

  .quote-attribute-name {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    line-height: 160%;
  }

  .quote-attribute-title {
    color: #606162;
    font-size: 18px;
  }

/* Client Logos
------------------------------------------------------------------------------*/
  .clients-wrapper {
    height: 350px;
    overflow: hidden;
    width: 100%;
  }

  .clients-wrapper .section-content {
    background-image: url('../img/clients.png');
    background-size: center center;
    background-size: 100%;
    height: 150%;
    min-width: 640px;
    padding: 40px 0;
    position: relative;
  }

/* Products
------------------------------------------------------------------------------*/
  .products-wrapper {
    border-top: 1px solid #ddd;
  }

  .products-title {
    background: rgba(255,255,255,.95);
    box-sizing: content-box;
    padding: 0;
  }

  .sticky-title {
    border-bottom: 1px solid #ddd;
  }

  .products-title h3 {
    color: #333;
    font-size: 26px;
    line-height: 1.5em;
    margin-top: 0px;
    padding: 26px 20px;
    position: relative;
    text-align: center;
    top: -0.25em;
    top: 0;
    vertical-align: top;
  }

  .products {
    margin: 40px 0;
    padding: 0 20px;
    position: relative;
  }

  .product {
    padding: 20px;
    width: 100%;
  }

  .product:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }

  .product-img {
    float: left;
    max-width: 110px;
    width: 30%;
  }

  .product-img img {
    border: 4px solid #ddd;
    border-radius: 50%;
    margin: auto;
    width: 100%;
  }

  .product-txt {
    float: left;
    padding-left: 10px;
    width: 70%;
  }

  .product h4 {
    color: #333;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }

  .product:first-child {
    padding-top: 0;
  }

  .product:last-child {
    padding-bottom: 0;
  }

  .product  p {
    color: #606162;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0;
  }

  @media (min-width: 768px) {
    .products-title h3 {
      padding-right: 10px;
      text-align: left;
    }

    .products { padding-left: 10px; }

    .products h4 {
      text-align: left;
    }

    .sticky-title {
      border: none;
    }
  }

/* Call to action
------------------------------------------------------------------------------*/
  .action-wrapper {
    border-top: 1px solid #ddd;
    display: table;
    height: 350px;
  }

  .action-content {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

  .btn.call-to-action {
    background: #ee4938; 
    color: #fff;
    display: block;
    font-size: 22px;
    margin: auto;
    padding: 15px 30px;
  }

  .btn.call-to-action:hover {
    background: #ee5948;
  }

  .phone-action {
    color: #606162;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }

  .phone-number,
  .phone-number:hover {
    color: #ee4938;
    line-height: 1.5em;
    text-decoration: underline;
  }

/* Footer
------------------------------------------------------------------------------*/
  footer  {
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.15);
    color: #333;
    padding: 40px 20px 60px 20px;
    width: 100%;
  }
  
  .footer-logo {
    height: auto;
    margin: 20px 0;
    max-width: 300px;
    padding: 0 10px 0 0;
    width: 100%;
  }
  
  .footer-nav .page-link { padding: 0 10px; };
  .footer-nav .page-link:hover  { color: #ee4938; }
  .footer-nav .page-link:first-child { padding-left: 0; }
  
  .footer-nav-border {
    background-image: -webkit-linear-gradient(left, #ddd, #ddd 45%, #ddd 55%, #f0f0f0);
    background-image: linear-gradient(to right, #ddd, #ddd 45%, #ddd 55%, #f0f0f0);
    background-position: bottom left;
    background-repeat: no-repeat;
    color: #f0f0f0;
    height: 1px;
    margin: 20px 0;
    width: 100%;
  }
  
  .copyright {
    color: #888;
    font-family: 'Roboto Light';
  }
  
  @media (min-width: 768px) {
    .footer-logo {
      height: 24px;
      padding: 0;
      width: auto;
    }
  }
 
/* About
------------------------------------------------------------------------------*/

  /* Header
  ------------------------------------------------------------------------------*/
    .about-header {
      left: 0;
      position: absolute;
      top: 0;
    }
    /*.about.global-nav .page-link a { color: #606162; }*/
    .about.global-nav .page-link a:hover { color: #ee4938; }
  
  /* Hero
  ------------------------------------------------------------------------------*/
    .about.hero-wrapper {
      background: #fff;
      opacity: 1.0;
    }
    
    .about.hero-img-wrapper {
      display: table;
      height: 500px;
      width: 100%;
    }
    
    .about.hero-img {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
    
    .about.hero-img > img {
      margin: auto;
      max-width: 390px;
      width: 100%;
    }
    
    .about-intro-wrapper {
      background: #f5f8fa;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
      min-height: 350px;
    }
    
    .about-intro-wrapper h1 {
      color: #333;
      font-size: 26px;
      padding: 60px 20px 0 20px;
      text-align: center;
    }
    
    .about-intro-text > p {
      color: #606162;
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 0;
      margin: auto;
      padding: 30px 20px 0 20px;
      text-align: center;
    }
    
    .about-intro-text > p:last-child {
      padding-bottom: 60px;
    }
    
    .product-list-link,
    .product-list-link:hover {
      color: #ee4938;
      line-height: 1.5em;
      text-decoration: underline;
    }
    
    
    @media (min-width: 768px) {
      .about-intro-text > p {
        text-align: left;
      }
    }
    
    /* Experience Section
    ------------------------------------------------------------------------------*/
      .experience-wrapper {
        border-bottom: 1px solid #ddd;
        height: auto;
      }
    
      .experience-txt-wrapper {
        display: table;
        height: 100%;
        position: relative;
      }
      .experience-txt {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
      .experience-txt h3 {
        color: #333;
        font-size: 26px;
        margin-top: 40px;
        padding: 0 20px;
        text-align: center;
      }
    
      .experience-txt p {
        color: #606162;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 0;
        margin-top: 20px;
        padding: 0 20px;
        text-align: center;
      }
    
      .experience-img {
        height: 275px;
        margin-bottom: 20px;
        overflow: hidden;
      }
    
    
      .experience-img img {
        height: auto;
        padding: 40px 20px 0 20px;
        position: relative;
        width: 100%;
      }
    
      /* >= Medium Screen */
      @media (min-width: 768px) {
        .experience-wrapper { height: 350px; }
    
        .experience-txt h3 {
          margin-top: 0px;
          padding-right: 10px;
          text-align: left;
        }
    
        .experience-txt p {
          padding-right: 10px;
          text-align: left;
        }
        
        .experience-img {
          height: 350px;
          margin: 0;
          padding-left: 10px;
          text-align: left;
        }
        
        .experience-img img {
          height: 100%;
          padding: 20px;
          width: auto;
        }
      }
      
    /* Technology Section
    ------------------------------------------------------------------------------*/
      .tech-wrapper {
        height: auto;
      }
    
      .tech-txt-wrapper {
        display: table;
        height: 100%;
        position: relative;
      }
      .tech-txt {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
      .tech-txt h3 {
        color: #333;
        font-size: 26px;
        margin-top: 40px;
        padding: 0 20px;
        text-align: center;
      }
    
      .tech-txt p {
        color: #606162;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 0;
        margin-top: 20px;
        padding: 0 20px;
        text-align: center;
      }
    
      .tech-img {
        height: 275px;
        margin-bottom: 20px;
        overflow: hidden;
      }
    
    
      .tech-img img {
        height: auto;
        padding: 40px 20px 0 20px;
        position: relative;
        width: 100%;
      }
    
      /* >= Medium Screen */
      @media (min-width: 768px) {
        .tech-wrapper { height: 350px; }
    
        .tech-txt h3 {
          margin-top: 0px;
          padding-right: 10px;
          text-align: left;
        }
    
        .tech-txt p {
          padding-right: 10px;
          text-align: left;
        }
        
        .tech-img {
          height: 350px;
          margin: 0;
          padding-left: 10px;
          text-align: left;
        }
        
        .tech-img img {
          height: 100%;
          padding: 20px;
          width: auto;
        }
      }

/* Contact
------------------------------------------------------------------------------*/
  .contact.hero-wrapper {
    background: #fff;
    opacity: 1.0;
  }
  
  .map-canvas {
    border-bottom: 1px solid #ccc;
    height: 450px;
    width: 100%;
  }
  
  .form-section {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }
  
  .form-section h1 {
    color: #333;
    font-size: 26px;
    padding: 60px 20px 20px 20px;
    text-align: center;
  }
  
  .contact-form {
    display: block;
    margin: auto;
    max-width: 1024px;
    padding: 0 10px 60px 10px;
    width: 100%;
  }
  
  .form-section label,
  .form-section input {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }
  
  .form-section label {
    padding: 10px 0;
  }
  
  .form-section .btn.call-to-action  {
    margin: 0;
  }