# NPM Dependencies
**/node_modules/

# Files created by Grunt
**/dist/

# Used for typing by Visual Studio Code
**/typings/

# Something keeps adding Thumbs.db... stahp
**/Thumbs.db

# Don't personal to-dos
**/to-do.md
